replicaCount: 1

image:
  repository: registry-17250252bc-aria.apps.ir-central1.arvancaas.ir/go-app
  tag: "latest"
  pullPolicy: Always

imagePullSecrets:
  - name: aria-registry-secret

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  hosts:
    - host: staging-app.titimod.ir  
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false

config:
  database:
    host: "postgress-cluster-rw.production-db.svc.cluster.local"
    port: "5432"
    name: "staging_app" 
    user: "app"

secrets:
  ipstackApiKey: "eW91ci1pcHN0YWNrLWFwaS1rZXk="  
  dbPassword: "Nmc3YnpnWXVwZjZHc1NsT0dDbk40SWxOZWRScEtFU1RzRmN5YmZCd2JMYVQwYWxNMXUwMU9oRnNEMUl1NXppVg=="

serviceMonitor:
  enabled: true

deployment:
  enabled: true